In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [3]:
df = pd.read_csv("C:\\Users\\Igwe\\Downloads\\Olympic_Athletes\\athlete_events.csv", index_col='ID')
df.fillna(0, inplace=True)

In [4]:
df.head()

In [5]:
df.tail()

In [6]:
df.dtypes

In [7]:
df['Team'].value_counts().idxmax()

In [8]:
df['Year'].max()

In [9]:
df['Year'].min()

In [10]:
Athlete_Data= df.agg(
     {
            "Age": ["min", "max", "median", "skew", "mean"],
            "Height": ["min", "max", "median", "skew", "mean"],
            "Weight": ["min", "max", "median", "skew", "mean"],
       }
   )

In [11]:
Athlete_Data

In [12]:
df[["Age", "Height", "Weight"]].describe()

In [13]:
top_10 = df["Team"].value_counts()[0:10]

top_10.plot(kind = 'bar', figsize =(10,8))
plt.title('All Time Medals of top 10 Teams')

In [14]:
US_medal_table = df[df['Team'] == 'United States']['Medal'].value_counts()

US_medal_table.plot(kind = 'bar', figsize = (10,8))
plt.title('All Time Medals of United States Medal Table')

In [15]:
US_medal_table = df[df['Team'] == 'Nigeria']['Medal'].value_counts()

US_medal_table.plot(kind = 'bar', figsize = (10,8))
plt.title('All Time Medals of Nigeria Medal Table')

In [16]:
US_medal_table = df[df['Team'] == 'United States']['Sport'].value_counts()

US_medal_table.plot(kind = 'bar', figsize = (10,8))
plt.title('All Time United States Olympic Sport Table')

In [17]:
US_medal_table = df[df['Team'] == 'Nigeria']['Sport'].value_counts()

US_medal_table.plot(kind = 'bar', figsize = (10,8))
plt.title('All Time Nigeria Olympic Sport Table')

In [18]:
plt.figure(figsize=(20, 8))
sns.countplot(df['Year'])

plt.xlabel('Years')
plt.ylabel('No. of Name')

plt.title('Total Athletes contribution in olympics over time')

In [19]:
plt.figure(figsize=(15, 5))
highest_sport = df['Sport'].value_counts().index
sns.countplot(data=df, x='Sport', order=highest_sport)
plt.xticks(rotation=75)
plt.title('Sports with most awarded Medals')
plt.xlabel('Sport')
plt.ylabel('No. of Medals')

In [20]:
plt.figure(figsize=(20, 5))
team_highest_sport = df[df['Team'] == 'United States']['Sport'].value_counts().index
sns.countplot(data=df, x='Sport', order=team_highest_sport)
plt.xticks(rotation=75)
plt.title('United States Sports with most awarded Medals')
plt.xlabel('Sport')
plt.ylabel('No. of Medals')

In [21]:
plt.figure(figsize=(20, 5))
team_highest_sport = df[df['Team'] == 'Nigeria']['Sport'].value_counts().index
sns.countplot(data=df, x='Sport', order=team_highest_sport)
plt.xticks(rotation=75)
plt.title('Nigeria Sports with most awarded Medals')
plt.xlabel('Sport')
plt.ylabel('No. of Medals')

In [22]:
athlete_order = df['Name'].value_counts().head(10).index
plt.figure(figsize=(9, 5))
sns.countplot(data=df, y='Name', order=athlete_order)
plt.title('Top 10 Athletes with the most awarded Medals')
plt.xlabel('No. of awrded medals')
plt.ylabel('Athlete Name');

In [23]:
sns.countplot(x="Medal", hue="Sex", data=df)
plt.title('Medals by Sex')

In [24]:
Sex_group = df.groupby(['Year', 'Sex']).size().unstack()

Sex_group.apply(lambda x:x/x.sum(), axis=1).plot(kind='barh', stacked=True, legend=False)

plt.legend(['Men', 'Women'], bbox_to_anchor=(1.0, 0.7))

plt.xlabel('Men / Women ratio')
plt.title('The gender ratio in summer Olympics')